@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using BehafarinClinic.Models

@{

    var CurrentUserLastName="";
    var CurrentUserTitle = "";
    
        if (User.Identity.IsAuthenticated)
        {
            var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
            var manager = new UserManager<ApplicationUser>(userStore);
            var currentUser = manager.FindById(User.Identity.GetUserId());
            CurrentUserLastName = (currentUser.LastName==null) ? "کابر محترم" : currentUser.LastName.ToString();
            //CurrentUserTitle =(currentUser.Gender==0)? "" : currentUser.Gender.ToString();
            CurrentUserTitle = currentUser.Gender.ToString();

        }
}
  <!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">سامانه‌‌ی مدیریت کلینیک</a>
    </div>
    <!-- /.navbar-header -->

   
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">

        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                @*<li class="sidebar-search" style="padding: 45px"></li>*@
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home fa-fw"></i>صفحه‌ی اصلی</a>
                </li>

                <li>

                    <a href="#"><i class="fa fa-user fa-fw"></i>وقت بخیر @CurrentUserTitle @CurrentUserLastName! <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("مدیریت حساب", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()">خروج</a>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}
                        </li>
                        
                    </ul>

                    <!-- /.nav-second-level -->
                </li>
                
                @if (User.IsInRole("Receptionist") || User.IsInRole("Admin") || 1 == 1)
                {
                <li>
                    <a href="#"><i class="fa fa-heartbeat fa-fw"></i>مدیریت پذیرش درمانگاه<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("ثبت پذیرش جدید", "Create", "InfirmaryReceptions")
                        </li>
                        <li>
                            @Html.ActionLink("لیست  پذیرش‌های ناتمام", "Unfinished", "InfirmaryReceptions")
                        </li>
                        <li>
                            @Html.ActionLink("لیست  پذیرش‌های منتظر پرداخت", "Unpaid", "InfirmaryReceptions")
                        </li>
                        <li>
                            @Html.ActionLink("ثبت قلم خدمت جدید برای پذیرش", "Create", "ServiceItems")
                        </li>
                        <li>
                            @Html.ActionLink("لیست اقلام خدمت", "Index", "ServiceItems")
                        </li>
                        <li>
                            @Html.ActionLink("لیست کل پذیرش‌ها", "Index", "InfirmaryReceptions")
                        </li>
                        
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                }



                <li>
                    <a href="#"><i class="fa fa-heartbeat fa-fw"></i>مدیریت بیماران دیالیز<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("افزودن بیمار جدید", "Create", "Patients")
                        </li>
                        <li>
                            @Html.ActionLink("لیست کل بیماران", "Index", "Patients")
                        </li>
                        
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                

                <li>
                    <a href="#"><i class="fa fa-stethoscope fa-fw"></i>مدیریت جلسات دیالیز<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("افزودن جلسه‌ی‌ جدید", "Create", "DialysisSessions")
                        </li>
                        <li>
                            @Html.ActionLink("افزودن گزارش ساعتی جدید", "#", "DialysisSessions")
                        </li>
                        <li>
                            @Html.ActionLink("لیست جلسات ناتمام", "Unfinished", "DialysisSessions")
                        </li>
                        <li>
                            @Html.ActionLink("لیست کل جلسات", "Index", "DialysisSessions")
                        </li>



                    </ul>
                </li>
               


                @*<li>
                        <a href="#"><i class="fa fa-users fa-fw"></i>مدیریت کاربران<span class="fa arrow"></span></a>
                    </li>*@

                <!--Admin Only-->
                @if (User.IsInRole("Admin")||1==1)
                {
                <li>
                    <a href="@Url.Action("Index", "Administrative")"><i class="fa fa-wrench fa-fw"></i>تنظیمات  </a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw"></i>مدیریت سازمان‌های طرف قرارداد<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("افزودن ", "Create", "InsuranceOrganizations")
                        </li>
                        <li>
                            @Html.ActionLink("لیست ", "Index", "InsuranceOrganizations")
                        </li>


                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-fw"></i>مدیریت کالاهای مصرفی<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("افزودن ", "Create", "ConsumableGoods")
                        </li>
                        <li>
                            @Html.ActionLink("لیست ", "Index", "ConsumableGoods")
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw"></i>مدیریت پرسنل درمانگاه<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("افزودن ", "Create", "InfirmaryPersonnels")
                        </li>
                        <li>
                            @Html.ActionLink("لیست ", "Index", "InfirmaryPersonnels")
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw"></i>مدیریت کاربران<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("افزودن کاربر جدید ", "Create", " ")
                        </li>
                        <li>
                            @Html.ActionLink("لیست کاربران ", "Index", " ")
                        </li>
                        <li>
                            @Html.ActionLink("افزودن نقش جدید ", "Index", " ")
                        </li>
                        <li>
                            @Html.ActionLink("لیست نقش‌ها ", "Index", " ")
                        </li>
                        
                        
                    </ul>
                </li>
                

                <li>
                    <a href="#"><i class="fa fa-fw"></i>مدیریت پرسنل دیالیز و پذیرش<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("افزودن ", "Create", " ")
                        </li>
                        <li>
                            @Html.ActionLink("لیست ", "Index", " ")
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw"></i>مدیریت خدمات درمانگاهی<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            @Html.ActionLink("افزودن خدمت جدید ", "Create", "Services")
                        </li>
                        <li>
                            @Html.ActionLink("لیست خدمات ", "Index", "Services")
                        </li>


                    </ul>
                </li>
                }
                <!--/Admin Only-->
            </ul>
        </div>


        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>